<?xml version="1.0"?>

<launch> 
	<!-- Loads the URDF in the parameter server under the variable 'robot_description' -->
	<!-- Spawns the model in Gazebo and loads all necessary controllers + loads differential drive -->
	<include file="$(find monsterborg_control)/launch/monsterborg_control.launch"/>

	<!-- map_server -->
	<include file="$(find monsterborg_navigation)/launch/map_server.launch"/>

	<!-- EKF localization -->
	<!-- Launch ekf localization for each robot under seperate namespace -->
	<group ns = "robot1">
		<param name="tf_prefix" value="robot1_tf" />
		<include file="$(find monsterborg_navigation)/launch/ekf_localization.launch"/>
	</group>
	<group ns = "robot2">
		<param name="tf_prefix" value="robot2_tf" />
		<include file="$(find monsterborg_navigation)/launch/ekf_localization.launch"/>
	</group>


	<!-- move_base -->
	<!-- Launch move_base for each robot under seperate namespace -->
	<group ns = "robot1">
		<param name="tf_prefix" value="robot1_tf" />
	    <param name="amcl/initial_pose_x" value="-1" />
	    <param name="amcl/initial_pose_y" value="1" />
		<include file="$(find monsterborg_navigation)/launch/move_base.launch"/>
	</group>

	<group ns = "robot2">
		<param name="tf_prefix" value="robot2_tf" />
	    <param name="amcl/initial_pose_x" value="-1" />
	    <param name="amcl/initial_pose_y" value="1" />
		<include file="$(find monsterborg_navigation)/launch/move_base.launch"/>
	</group>

	<!-- Launch rviz for visualization purposes-->
	<node type='rviz' name='rviz' pkg='rviz' args='-d $(find monsterborg_navigation)/config/move_base.rviz' /> 

</launch> 


